# For the iCE40HX-1K iCEstick

#set_io LED_N 99
#set_io LED_E 98
#set_io LED_S 97
#set_io LED_W 96
set_io LED_CENTRE 95
set_io clk 21

# with ref to https://github.com/BrunoLevy/learn-fpga/blob/master/FemtoRV/TUTORIALS/IceStick.md
#set_io PIO1_02 78
#set_io PIO1_03 79
set_io VSYNC 80 # yellow wire, PIO1_04
set_io HSYNC 81 # orange wire, PIO1_05
#set_io PIO1_06 87
set_io RED 88
set_io GREEN 90
set_io BLUE 91